<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @zombie.birthday %>
</p>

<p>
  <strong>Works:</strong>
  <%= @zombie.works %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @zombie.salary %>
</p>

<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
